#app{
    min-height:100vh;
    display:flex;
    flex-direction:column;
}

#app-main{
    flex-grow:1;
    display:flex;
    max-width:100%;
}

#app-menu{
    flex:0 0 auto;
}

#app-content{
    flex:1 1 auto;
    max-width:100%;
    padding:15px;
}