.admin-header{
    padding:0 30px;
    background-color:#101010;
}
.admin-header .admin-header-title{
    display:block;
    padding:10px 15px;
    line-height:20px;
    color:#9d9d9d;
    font-size:14px;
    cursor:pointer;
}
.admin-header .admin-header-title:hover{
    color:#fff;
}